body {
    font-family: 'Times New Roman', Times, serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    /* background-color: #1F2937; */
}

a {
    text-decoration: none;
    color: white;
}

.header-wrapper {
    background-color: #1F2937;

}

.header {
    
    color: white;
    font-weight: bold;

    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header.logo {
    display: flex;
}

.intro-wrapper {
    background-color: #1F2937;
}

.intro {
    color: white;
    display: flex;
    padding: 32px;
    width: 100%;       
    max-width: 1200px;
    margin: 0 auto;
}

.thumbnail {
    display: flex;
    flex: auto;
    padding-left: 32px;
}

.content {
    background-color: white;
    margin-top: 32px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.content-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
    margin-top: 16px;
    margin-bottom: 16px;
}

.cards-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(121, 121, 121, 0.6);
    border-radius: 16px;
    margin: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-wrapper {
    background-color: #e5e7eb;
}

.quote {
    font-style: italic;
    width: 100%;
    max-width: 1200px;
    margin: 32px auto;
    padding-left: 15dvh;
    padding-right: 15dvh;
}

.footer {
    background-color: #1F2937;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  gap: 16px;
}

li {
    text-decoration: none;
    display: inline-block;
    margin: 16px;
}


.call-to-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color: white;
    margin: 50px 200px;
    font-weight: bold;
    border-radius: 5px;
    padding: 50px;
}

.button-send {
    width: 100px;
    height: 25px;
    background-color: #3882F6;
    border-color: white;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin: 0px 16px;
}
